.module-header {
  .module-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      width: max-content;
      letter-spacing: 0%;
      vertical-align: middle;
      color: var(--primary-small-text-color);
    }
  }

  .header-text-name {
    font-weight: 700 !important;
    color: var(--primary-font-color) !important;
  }
}
