<div style="padding-right: 0.6rem">
  <div class="d-flex justify-content-between align-items-center">
    <app-header [moduleName]="'Blacklisted-Numbers'"> </app-header>

    <div class="d-flex justify-content-end">
      <div class="d-flex flex-end mt-3 justify-content-end gap-2">
        <!-- Company Dropdown (only for SuperAdmin) -->
        <div
          class="dashboard-lead-status-filter"
          style="width: 250px"
          *ngIf="currentUser?.isSuperAdmin && currentUser?.isAdmin"
        >
          <ng-select
            [items]="companyListing"
            bindLabel="fullName"
            bindValue="_id"
            [clearable]="false"
            [searchable]="true"
            placeholder="Select Company"
            [(ngModel)]="companyId"
            name="companyId"
            (ngModelChange)="selectCompany($event)"
            class="select-input-type"
          >
          </ng-select>
        </div>

        <!-- Search -->
        <div class="global-search me-2">
          <app-search-filters
            placeholder="Search"
            (search)="customSearch($event)"
            [clear]="clearFilter"
            [selectedText]="selectedText"
          ></app-search-filters>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<div class="module-table mt-3 table-responsive batch-call-table-responsive pt-0">
  <table>
    <thead>
      <tr>
        <th
          class="px-2 cursor-pointer"
          (click)="sortActive('toNumber')"
          [ngClass]="{ 'font-weight-bold': currentSort === 'toNumber' }"
        >
          <app-sort-icon
            [sortState]="[sortStates['toNumber']]"
            class="icon-sort-placement"
          ></app-sort-icon>
          Phone Number
        </th>
        <th
          class="px-2 cursor-pointer"
          (click)="sortActive('email')"
          [ngClass]="{ 'font-weight-bold': currentSort === 'email' }"
        >
          <app-sort-icon
            [sortState]="[sortStates['email']]"
            class="icon-sort-placement"
          ></app-sort-icon>
          E-Mail
        </th>
        <th
          class="px-2 cursor-pointer"
          (click)="sortActive('updatedAt')"
          [ngClass]="{ 'font-weight-bold': currentSort === 'updatedAt' }"
        >
          <app-sort-icon
            [sortState]="[sortStates['updatedAt']]"
            class="icon-sort-placement"
          ></app-sort-icon>
          Updated At
        </th>
        <th class="px-2 text-center">Name</th>
        <th class="px-2 text-center">ClientId</th>
        <th class="px-2 text-center">Action</th>
      </tr>
    </thead>

    <tbody>
      <!-- NO RECORDS FOUND -->
      <tr class="cursor-pointer" *ngIf="blackList.length === 0">
        <td colspan="5">No Records Found</td>
      </tr>

      <!-- DATA LOOP -->
      <tr *ngFor="let item of blackList">
        <td class="px-2" [ngClass]="{ 'font-weight-bold': currentSort === 'toNumber' }">
          {{ item.toNumber }}
        </td>
        <td class="px-2" [ngClass]="{ 'font-weight-bold': currentSort === 'email' }">
          {{ item.email || '-' }}
        </td>
        <td class="px-2" [ngClass]="{ 'font-weight-bold': currentSort === 'updatedAt' }">
          {{ item.updatedAt ? (item.updatedAt | date: 'dd/MM/yyyy h:mm a') : '-' }}
        </td>
        <td class="px-2 text-center">{{ item.clientName }}</td>
        <td class="px-2 text-center">{{ item.bmbyId }}</td>

        <td class="px-2 text-center">
          <div
            class="batch-delete"
            (click)="openDeleteModal(deleteModal, item); $event.stopPropagation()"
          >
            <app-icon iconType="delete"></app-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex justify-content-between align-items-center mt-3" *ngIf="totalCount > 0">
  <div class="col col-sm-6">
    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
      Showing
      {{ pageIndex * currentPageSize + 1 }} to
      <span *ngIf="currentPageSize * currentPage < totalCount"
        >{{ currentPageSize * currentPage }} of {{ totalCount }}</span
      >
      <span *ngIf="currentPageSize * currentPage >= totalCount"
        >{{ totalCount }} of {{ totalCount }}</span
      >
      entries
    </div>
  </div>
  <div class="col col-sm-6">
    <div class="text-sm-right float-sm-end listjs-pagination mb-2">
      <ngb-pagination
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        [(page)]="currentPage"
        [pageSize]="currentPageSize"
        [collectionSize]="totalCount"
        (pageChange)="pageChanged($event)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Whitelist Number?</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss('close')"></button>
  </div>

  <div class="modal-body">
    <p>
      Are you sure you want to whitelist
      <strong>{{ selectedItem?.toNumber }}</strong
      >? <br />This action cannot be undone.
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
    <button class="btn btn-danger" (click)="confirmDelete(modal)">Save</button>
  </div>
</ng-template>
