<div class="modal-header d-flex justify-content-between">
  <div>
    <h5 class="modal-title">Change Password</h5>
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModels()"></button>
</div>
<div class="modal-body create-batch-call">
  <form
    [formGroup]="recordForm"
    (ngSubmit)="changeUserPassword()"
    (keydown.enter)="preventEnter($event)"
  >
    <!-- Current Password field - only show if required -->
    <div class="mb-3" *ngIf="recordForm.get('currentPassword')?.enabled">
      <label for="currentPassword" class="form-label mb-1"> Current Password </label>
      <div class="d-flex custom-user-email">
        <div class="w-100">
          <input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="currentPassword"
            id="currentPassword"
            class="form-control custom-input-field-class"
            required
            appTrimText
            placeholder="Enter Current Password"
            [ngClass]="{
              'is-invalid':
                (submitted || recordForm.get('currentPassword')?.touched) &&
                recordForm.get('currentPassword')?.errors
            }"
          />
          <div class="invalid-feedback" align="left">
            <app-control-messages
              [control]="$any(recordForm.get('currentPassword'))"
            ></app-control-messages>
          </div>
        </div>
        <span class="input-group-text custom-height-domain" id="basic-addon2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['currentPassword'].touched) &&
                recordForm.controls['currentPassword'].errors
            }"
            (click)="togglePasswordVisibility()"
            *ngIf="showPassword"
            fill="currentColor"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M1.173 12C2.445 7.943 6.08 5 12 5s9.555 2.943 10.827 7c-1.272 4.057-4.907 7-10.827 7S2.445 16.057 1.173 12zm10.827 5a5 5 0 100-10 5 5 0 000 10zm0-2a3 3 0 110-6 3 3 0 010 6z"
            />
          </svg>
          <svg
            *ngIf="!showPassword"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['currentPassword'].touched) &&
                recordForm.controls['currentPassword'].errors
            }"
            (click)="togglePasswordVisibility()"
          >
            <path
              d="M17.94 17.94A10.94 10.94 0 0112 20C5 20 1 12 1 12a21.5 21.5 0 015.11-6.36M22.54 12.88A10.94 10.94 0 0123 12S19 4 12 4c-1.79 0-3.48.37-5.05 1.03"
            />
            <path d="M9.88 9.88a3 3 0 104.24 4.24" />
            <line x1="1" y1="1" x2="23" y2="23" />
          </svg>
        </span>
      </div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label mb-1">New Password</label>
      <div class="d-flex custom-user-email">
        <div class="w-100">
          <input
            [type]="showNewPassword ? 'text' : 'password'"
            formControlName="newPassword"
            id="newPassword"
            class="form-control custom-input-field-class"
            required
            appTrimText
            placeholder="Enter New Password (min 8 characters)"
            [ngClass]="{
              'is-invalid':
                (submitted || recordForm.get('newPassword')?.touched) &&
                recordForm.get('newPassword')?.errors
            }"
          />
          <div class="invalid-feedback" align="left">
            <app-control-messages
              [control]="$any(recordForm.get('newPassword'))"
            ></app-control-messages>
          </div>
        </div>
        <span class="input-group-text custom-height-domain" id="basic-addon2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['newPassword'].touched) &&
                recordForm.controls['newPassword'].errors
            }"
            (click)="toggleNewPasswordVisibility()"
            *ngIf="showNewPassword"
            fill="currentColor"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M1.173 12C2.445 7.943 6.08 5 12 5s9.555 2.943 10.827 7c-1.272 4.057-4.907 7-10.827 7S2.445 16.057 1.173 12zm10.827 5a5 5 0 100-10 5 5 0 000 10zm0-2a3 3 0 110-6 3 3 0 010 6z"
            />
          </svg>
          <svg
            *ngIf="!showNewPassword"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['newPassword'].touched) &&
                recordForm.controls['newPassword'].errors
            }"
            (click)="toggleNewPasswordVisibility()"
          >
            <path
              d="M17.94 17.94A10.94 10.94 0 0112 20C5 20 1 12 1 12a21.5 21.5 0 015.11-6.36M22.54 12.88A10.94 10.94 0 0123 12S19 4 12 4c-1.79 0-3.48.37-5.05 1.03"
            />
            <path d="M9.88 9.88a3 3 0 104.24 4.24" />
            <line x1="1" y1="1" x2="23" y2="23" />
          </svg>
        </span>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label mb-1">Confirm New Password</label>
      <div class="d-flex custom-user-email">
        <div class="w-100">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            id="confirmPassword"
            class="form-control custom-input-field-class"
            required
            appTrimText
            placeholder="Re-enter New Password"
            [ngClass]="{
              'is-invalid':
                (submitted || recordForm.get('confirmPassword')?.touched) &&
                (recordForm.get('confirmPassword')?.errors ||
                  recordForm.errors?.['passwordMismatch'])
            }"
          />
          <div class="invalid-feedback" align="left">
            <div *ngIf="recordForm.get('confirmPassword')?.errors">
              <app-control-messages
                [control]="$any(recordForm.get('confirmPassword'))"
              ></app-control-messages>
            </div>
            <div
              *ngIf="
                recordForm.errors?.['passwordMismatch'] &&
                !recordForm.get('confirmPassword')?.errors
              "
            >
              Passwords do not match
            </div>
          </div>
        </div>
        <span class="input-group-text custom-height-domain" id="basic-addon3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['confirmPassword'].touched) &&
                (recordForm.controls['confirmPassword'].errors ||
                  recordForm.errors?.['passwordMismatch'])
            }"
            (click)="toggleConfirmPasswordVisibility()"
            *ngIf="showConfirmPassword"
            fill="currentColor"
          >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
              d="M1.173 12C2.445 7.943 6.08 5 12 5s9.555 2.943 10.827 7c-1.272 4.057-4.907 7-10.827 7S2.445 16.057 1.173 12zm10.827 5a5 5 0 100-10 5 5 0 000 10zm0-2a3 3 0 110-6 3 3 0 010 6z"
            />
          </svg>
          <svg
            *ngIf="!showConfirmPassword"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="cursor-pointer"
            [ngClass]="{
              'icon-with-error':
                (submitted || recordForm.controls['confirmPassword'].touched) &&
                (recordForm.controls['confirmPassword'].errors ||
                  recordForm.errors?.['passwordMismatch'])
            }"
            (click)="toggleConfirmPasswordVisibility()"
          >
            <path
              d="M17.94 17.94A10.94 10.94 0 0112 20C5 20 1 12 1 12a21.5 21.5 0 015.11-6.36M22.54 12.88A10.94 10.94 0 0123 12S19 4 12 4c-1.79 0-3.48.37-5.05 1.03"
            />
            <path d="M9.88 9.88a3 3 0 104.24 4.24" />
            <line x1="1" y1="1" x2="23" y2="23" />
          </svg>
        </span>
      </div>
    </div>
  </form>

  <div class="d-flex gap-2 button-section">
    <button class="save-as-draft" (click)="closeModels()">Cancel</button>
    <button type="button" class="create-button" (click)="changeUserPassword()">Update</button>
  </div>
</div>
